@using F1.Models
@model IEnumerable<Race>
@{
    ViewData["Title"] = "Schedule";
}


@*    <div class="row">
        <div class="col-md-12">
            <h3>
                F1 Schedule 2022 
            </h3>
            
            <div class="row">
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="card">
                             <p class="card-title">
                                    Round @item.Round
                            </p>
                            <div class="card-block">
                                <p class="card-title">
                                    Date @item.Date
                                </p>
                                <h5 class="card-title">
                                    @item.Name
                                </h5>

                                <p align="center">
                                    <a class="btn btn-primary" asp-action="Details" asp-controller="Schedule" asp-route-id="@item.Id">About race</a>
                                </p>
                            </div>
                            <img class="card-img-top" alt="Bootstrap Thumbnail First" src="@item.Img">
                        </div>
                    </div>
                }
            </div>
                <div class="row">
             </div>
        </div>
    </div>*@


         <h1>
                F1 Schedule 2022 
      </h1>

    <div class="masonry blog-masonry" data-layout="masonry" data-item-width="340">
                @foreach (var item in Model)
                {
                            
                            <!-- .hentry -->
                            <article class="hentry post format-video">

                                <header class="entry-header">
                                    
                                  <h3>
                                      Round @item.Round
                                  </h3>

                                    <!-- .entry-title -->
                                   <h2 class="entry-title"><a asp-action="Details" asp-controller="Schedule" asp-route-id="@item.Id">@item.Name</a></h2>

                                   <h1>
                                     @item.Date
                                  </h1>
      
                                </header>

                                <!-- .featured-image -->
                                <div class="featured-image">
                                    <img src="@item.Img">
                                </div>
                                <!-- .featured-image -->
    
                                
                            </article>
                }
    </div>

