@model IEnumerable<F1.Models.User>
@{
    ViewBag.Title = "List of users";
}

<a asp-controller="Users" asp-action="Create">Add user</a>

<table class="table">
    <tr><th>Email</th><th>Name</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.UserName</td>
            <td>
                <a class="btn btn-sm btn-outline-primary" asp-controller="Users" asp-action="EditRoles" asp-route-userid="@user.Id">Roles</a>
            </td>
            <td>
                <form asp-action="Delete" asp-controller="Users" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-outline-warning" asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                    <button type="submit" class="btn btn-sm btn-outline-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>